.title {
    font-size: 30px;
}

.question {
    color: rgb(221, 155, 221);
    font-size: 25px;
}

.dialog-container {
    justify-content: center;
    text-align: center;
}

.action-buttons {
    justify-content: space-around;
}
