<div class="background">
    <div class="basic-container">
        <div class="centered-container">
            <p> Pregunta </p>
        </div>
        <div class="centered-container">
            <img src="../assets/images/TEK.gif">
        </div>
        <div class="centered-container">
            <!-- <a class="link-button" href="https://preguntatekgames.itch.io/">
                <img src="../assets/logo/newpreguntatek-logo.png">
                <p> PreguntaTEK </p>
            </a> -->
            <a class="link-button" (click)="openAdmin()">
                <img class="rotate" src="../assets/logo/preguntatek-logo.png">
            </a>
        </div>
    </div>
</div>
    