.dialog-container {
    justify-content: center;
    text-align: center;
}

.textarea-box {
    min-height: 100px !important;
}

.title {
    font-size: 25px;
}

.prompt {
    color: rgb(221, 155, 221);
}

.action-buttons {
    justify-content: space-around;
}
