<div class="dialog-container">
  <h1 mat-dialog-title class="title">Hola socio</h1>
  <div mat-dialog-content>
    <p class="prompt">Corrige la ortografia pls</p>
    <mat-form-field>
      <textarea class="textarea-box" matInput [(ngModel)]="data.question">
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action-buttons">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial [mat-dialog-close]="data.question">Enviar</button>
  </div>
</div>